body {
    background-color: #ffffff !important;
}
.normal {
    height: calc(100vh - 45px);
    overflow-y: scroll;
}
.public {
    height: calc(100vh - 45px - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
}